In [1]:
import pandas as pd
obj=pd.read_csv('first_Matrix_09_13_2018.csv',index_col=0)

In [2]:
obj.head()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
O,0,0,282,7,2,0,0,2,0,0,...,0,1,1,1,1,0,0,1,0,1
Li,4,0,1,17,12,0,2,1,15,0,...,0,0,0,0,0,0,0,0,0,0
Mg,2,1,35,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,1,0,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
F,0,0,0,0,5,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [3]:
obj.shape

(80, 83131)

In [4]:
from sklearn.preprocessing import normalize
obj_raw_norm=normalize(obj, norm='l2', axis=1)

In [5]:
obj_raw_norm

array([[0.        , 0.        , 0.52252245, ..., 0.00185292, 0.        ,
        0.00185292],
       [0.01211749, 0.        , 0.00302937, ..., 0.        , 0.        ,
        0.        ],
       [0.00761448, 0.00380724, 0.13325334, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.04009635, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.04203314, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.20683508, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [6]:
import numpy as np

In [7]:
mean_1=np.mean(obj_raw_norm,axis=0)

In [8]:
mean_1

array([7.46529785e-02, 3.27953270e-02, 1.53342208e-02, ...,
       2.31614563e-05, 4.83889498e-05, 2.31614563e-05])

In [9]:
mean_1.shape

(83131,)

In [10]:
obj_raw_norm_center=obj_raw_norm-mean_1

In [11]:
obj_raw_norm_center

array([[-7.46529785e-02, -3.27953270e-02,  5.07188233e-01, ...,
         1.82975505e-03, -4.83889498e-05,  1.82975505e-03],
       [-6.25354934e-02, -3.27953270e-02, -1.23048496e-02, ...,
        -2.31614563e-05, -4.83889498e-05, -2.31614563e-05],
       [-6.70385017e-02, -2.89880886e-02,  1.17919124e-01, ...,
        -2.31614563e-05, -4.83889498e-05, -2.31614563e-05],
       ...,
       [-3.45566315e-02, -3.27953270e-02, -1.53342208e-02, ...,
        -2.31614563e-05, -4.83889498e-05, -2.31614563e-05],
       [-3.26198433e-02, -3.27953270e-02, -1.53342208e-02, ...,
        -2.31614563e-05, -4.83889498e-05, -2.31614563e-05],
       [ 1.32182097e-01, -3.27953270e-02, -1.53342208e-02, ...,
        -2.31614563e-05, -4.83889498e-05, -2.31614563e-05]])

In [12]:
m=obj_raw_norm_center.shape[0]
n=obj_raw_norm_center.shape[1]

In [13]:
from scipy.sparse import csr_matrix
D = csr_matrix(obj_raw_norm_center,dtype=float)

In [14]:
#C=np.dot(obj_raw_norm_center.T,obj_raw_norm_center)

In [ ]:
C=D.T.dot(D)