In [3]:
import pandas as pd
obj=pd.read_csv('first_Matrix_09_13_2018.csv',index_col=0)
obj.head()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
O,0,0,282,7,2,0,0,2,0,0,...,0,1,1,1,1,0,0,1,0,1
Li,4,0,1,17,12,0,2,1,15,0,...,0,0,0,0,0,0,0,0,0,0
Mg,2,1,35,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,1,0,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
F,0,0,0,0,5,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [4]:
obj.loc["O",:].head()

1O2           0
1Li1O4P1      0
2Si1        282
1Mg1          7
2Mg1          2
Name: O, dtype: int64

In [5]:
obj.tail()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
Os,2,0,0,0,0,1,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
Be,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Th,1,0,0,0,0,1,1,1,2,0,...,0,0,0,0,0,0,0,0,0,0
Tc,1,0,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
Pu,4,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

obj.head()

In [6]:
obj.index

Index(['O', 'Li', 'Mg', 'P', 'F', 'Mn', 'Fe', 'Si', 'S', 'V', 'Cu', 'Co', 'Ni',
       'Ca', 'Ba', 'Na', 'N', 'Ti', 'Cr', 'Zn', 'B', 'Al', 'K', 'Sn', 'Se',
       'H', 'C', 'Sb', 'Ge', 'Bi', 'Sr', 'Cl', 'W', 'Mo', 'Te', 'Y', 'La',
       'Rb', 'Nb', 'Ga', 'Ag', 'In', 'Cd', 'Cs', 'As', 'Ce', 'Pd', 'Zr', 'I',
       'Tl', 'Au', 'Rh', 'Hf', 'Pb', 'Pt', 'Br', 'Ta', 'Nd', 'Hg', 'Sc', 'Sm',
       'Ru', 'U', 'Pr', 'Ir', 'Yb', 'Ho', 'Er', 'Dy', 'Tb', 'Lu', 'Tm', 'Gd',
       'Eu', 'Re', 'Os', 'Be', 'Th', 'Tc', 'Pu'],
      dtype='object')

In [7]:
from scipy.sparse.linalg import svds, eigs
from scipy.sparse import csc_matrix
#do decompostion for certain matrix
a=csc_matrix(obj, dtype=float)
#a=svds(obj,k=10)
u, s, vt = svds(a, k=10)

In [8]:
#normalization
from sklearn.preprocessing import normalize
obj_raw_norm=normalize(obj, norm='l2', axis=1)
#function usage
#sklearn.preprocessing.normalize(X, norm=â€™l2â€™, axis=1, copy=True, return_norm=False)

In [9]:
#norm success, but the label and index are lost
obj_raw_norm[:3]

array([[0.        , 0.        , 0.52252245, ..., 0.00185292, 0.        ,
        0.00185292],
       [0.01211749, 0.        , 0.00302937, ..., 0.        , 0.        ,
        0.        ],
       [0.00761448, 0.00380724, 0.13325334, ..., 0.        , 0.        ,
        0.        ]])

In [15]:
from scipy.sparse.linalg import svds, eigs
from scipy.sparse import csc_matrix
#do decompostion for obj_raw_norm
a=csc_matrix(obj_raw_norm, dtype=float)
#a=svds(obj,k=10)
u, s, vt = svds(a, k=20)

In [16]:
#get elements mapping value
#F is matrix we want(for all elements)
F=np.dot(u,s_diagonal)

In [17]:
error_matrix=np.dot(F,vt)-a

In [18]:
error_matrix

matrix([[-2.48295929e-02, -3.35639952e-02, -2.42418877e-01, ...,
         -9.86847576e-04, -6.90104943e-04, -9.86847576e-04],
        [ 5.14677797e-02, -8.28177508e-03,  3.83758645e-02, ...,
          9.71362821e-05, -1.55666592e-04,  9.71362821e-05],
        [-1.85619015e-03,  3.86009637e-02,  2.95898494e-03, ...,
          2.91580287e-04, -3.09279493e-06,  2.91580287e-04],
        ...,
        [ 5.51572054e-02, -8.01313185e-03, -1.89071603e-02, ...,
         -1.26755064e-04, -3.57454141e-06, -1.26755064e-04],
        [ 4.76135522e-03, -1.16722941e-02,  2.10918279e-02, ...,
          3.78254532e-05, -2.90592498e-05,  3.78254532e-05],
        [-4.87777243e-02,  1.71738584e-03,  3.78985450e-03, ...,
         -3.19802770e-05, -4.71642247e-05, -3.19802770e-05]])

In [19]:
#calculate error from error_matrix
from numpy import linalg as LA
LA.norm(error_matrix)

6.011476265500893

In [27]:
error_square_matrix=np.square(error_matrix)
square=np.sum(error_square_matrix,axis=1)

In [31]:
square_list=square/error_square_matrix.shape[0]

In [32]:
np.mean(square_list)

0.005646538576668867

In [ ]:
#select elements type from the paper and use pandas substract the raw number
#try to use periodic table pick needed elements
import pymatgen as mg
from pymatgen.core import periodic_table, Element

#build elements list from data(data's index)
elements_list=list(obj.index)

#select main group element
#FIRST try select list from PNAS paper FIG.2.A

#get main group list by pymatgen
test=["Li","Be","B","C","N","O","F"]
group_main_list=[]
for element_string in test:
    Ele=Element(element_string)
    group_main_list.append(Ele.group)

#build elements_list_main, create subset of each group,catch them from elements_list
#sort them by atom number, append the subset to element list

elements_list_main=[]
for group_number in group_main_list:
    #creat subset
    elements_sublist=[]
    for raw_element in elements_list:
        if Element(raw_element).group==group_number:
            if Element(raw_element).number<57 or Element(raw_element).number>71:
                elements_sublist.append(raw_element)
    #sort subset
    elements_sublist.sort(key=lambda x:Element(x).number)
    #add subset to elements_list_main
    elements_list_main+=elements_sublist
    #elements_list_main.append("{}".format(group_number))


#apply the raw number to mapping value
raw_number_list=[]
for element_select in elements_list_main:
    for raw_number in range(len(elements_list)):
        if element_select==elements_list[raw_number]:
            raw_number_list.append(raw_number)
            
    


#draw the mapping(visualization)

#perform pca and visualization

In [ ]:
test=["Li","Be","B","C","N","O","F"]
group_main_list=[]
for element_string in test:
    Ele=Element(element_string)
    group_main_list.append(Ele.group)

In [ ]:
F_main=F[raw_number_list,:]

In [ ]:
F_main.shape
F_main_flip=np.flip(F_main,axis=1)

In [ ]:
import matplotlib.pyplot as plt
fig=plt.imshow(F_main_flip, interpolation='nearest', cmap="rainbow")
plt.show(fig)

In [ ]:
#this is the y-axis elements
elements_list_main

In [ ]:
#flip the F to make the largest singular value at first
F_flip=np.flip(F,axis=1)

#store the SVD original matrix and processed matrix

In [ ]:
#print the matrix shape of both matrixs
print(F_flip.shape)
print(F_main_flip.shape)

In [ ]:
#store data
np.savetxt('SVD_original.txt', F_flip)
np.savetxt('SVD_main_group.txt', F_main_flip)