In [1]:
import pandas as pd
obj=pd.read_csv('first_Matrix_09_13_2018.csv',index_col=0)
obj.head()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
O,0,0,282,7,2,0,0,2,0,0,...,0,1,1,1,1,0,0,1,0,1
Li,4,0,1,17,12,0,2,1,15,0,...,0,0,0,0,0,0,0,0,0,0
Mg,2,1,35,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,1,0,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
F,0,0,0,0,5,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [3]:
obj["2Mg1O4"]

O      0
Li     0
Mg     0
P      0
F      0
Mn    25
Fe    21
Si     0
S      0
V     14
Cu    15
Co    14
Ni    15
Ca     0
Ba     0
Na     0
N      0
Ti    13
Cr    14
Zn     0
B      0
Al    17
K      0
Sn    14
Se     0
H      0
C      1
Sb    14
Ge     0
Bi    12
      ..
Au     0
Rh     1
Hf     0
Pb     0
Pt     0
Br     0
Ta     0
Nd     0
Hg     0
Sc     0
Sm     0
Ru     0
U      0
Pr     0
Ir     0
Yb     0
Ho     0
Er     0
Dy     0
Tb     0
Lu     0
Tm     0
Gd     0
Eu     0
Re     0
Os     0
Be     0
Th     0
Tc     0
Pu     0
Name: 2Mg1O4, Length: 80, dtype: int64

In [4]:
obj["2O4Mg1"]

KeyError: '2O4Mg1'

In [3]:
obj.tail()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
Os,2,0,0,0,0,1,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
Be,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Th,1,0,0,0,0,1,1,1,2,0,...,0,0,0,0,0,0,0,0,0,0
Tc,1,0,0,0,0,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
Pu,4,0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

obj.head()

In [36]:
obj.index

Index(['O', 'Li', 'Mg', 'P', 'F', 'Mn', 'Fe', 'Si', 'S', 'V', 'Cu', 'Co', 'Ni',
       'Ca', 'Ba', 'Na', 'N', 'Ti', 'Cr', 'Zn', 'B', 'Al', 'K', 'Sn', 'Se',
       'H', 'C', 'Sb', 'Ge', 'Bi', 'Sr', 'Cl', 'W', 'Mo', 'Te', 'Y', 'La',
       'Rb', 'Nb', 'Ga', 'Ag', 'In', 'Cd', 'Cs', 'As', 'Ce', 'Pd', 'Zr', 'I',
       'Tl', 'Au', 'Rh', 'Hf', 'Pb', 'Pt', 'Br', 'Ta', 'Nd', 'Hg', 'Sc', 'Sm',
       'Ru', 'U', 'Pr', 'Ir', 'Yb', 'Ho', 'Er', 'Dy', 'Tb', 'Lu', 'Tm', 'Gd',
       'Eu', 'Re', 'Os', 'Be', 'Th', 'Tc', 'Pu'],
      dtype='object')

In [15]:
from scipy.sparse.linalg import svds, eigs
from scipy.sparse import csc_matrix

In [23]:
a=csc_matrix(obj, dtype=float)
#a=svds(obj,k=10)

In [26]:
u, s, vt = svds(a, k=10)

In [21]:
a.shape

(80, 83131)

In [25]:
s

array([411.81673878, 541.03114872])

In [28]:
import numpy as np
np.dot(u,s)

array([-5.44726309e+02,  3.87441295e+02, -6.21829219e+01, -2.98812686e+02,
        2.30032678e+02,  3.03347489e+02,  3.21861996e+02,  1.19127726e+02,
       -9.27220737e+01,  2.61871090e+02,  5.50675911e+01,  1.42784076e+02,
        8.58270785e+01, -4.88299446e+01, -1.81655930e+01,  4.71361929e+00,
       -2.98153908e+01,  3.37365119e+01,  7.91131795e+01, -5.93655197e+01,
       -2.66523279e+01, -6.16147248e+00,  3.38753734e+00,  1.76144076e+01,
       -1.61430375e+02, -4.47634940e+00, -8.45729705e+00,  2.00389132e+01,
       -8.30688099e+00,  3.55406189e+01, -3.13351458e+01, -7.39642119e-01,
        2.27309710e+01,  2.47929256e+01, -2.59540064e+01, -2.16253889e+01,
       -1.76191617e+01, -1.55426946e+00,  2.15463054e-01, -1.96632697e+01,
        1.01034104e+01, -6.74707631e+00, -7.01815826e+01,  3.08001548e-01,
       -1.72187947e+01, -7.17365648e+01, -9.73424831e+00, -4.75377282e+00,
       -7.29730757e+00, -5.43361482e+00, -6.28862342e+00, -4.61371702e+00,
       -7.22063770e+00, -1.42419138e+01, -4.77995036e+00, -2.29029207e+00,
       -6.88338389e+00, -4.35896904e+00, -1.06519378e+01, -2.48696929e+00,
       -8.93214508e+00, -1.35371658e+00, -2.98191455e+00, -6.39077033e+00,
       -2.79465651e+00, -6.63887171e+00, -7.06216446e+00, -6.80015990e+00,
       -6.80277287e+00, -4.04717283e+00, -5.60846064e+00, -7.07522533e+00,
       -2.36869504e+00, -5.76483007e+00, -1.40204110e+00, -1.11274832e+00,
       -4.43337863e+00, -3.87698173e+00, -1.18249752e-01, -3.99076875e-02])

In [29]:
u.shape

(80, 10)

In [30]:
s.shape

(10,)

In [31]:
S=np.diag(s)

In [33]:
Map=np.dot(u,S)

In [36]:
Map.shape

(80, 10)