In [33]:
from mendeleev import element
#build elements properties file
#1.element 2.EN-Pauling 3.EN-Allen 4.Atomic number 5.Raw number 6.Column number

In [13]:
text_file = open("elements_list_main.txt", "r")

In [27]:
text_file = open("elements_list_main.txt", "r")
for element in text_file:
    main_element_list=element.split()

In [28]:
main_element_list[0]

'H'

In [29]:
EN_Pauling_list=[]
EN_Allen_list=[]
AN_list=[]
Raw_N=[]
Column_N=[]

In [34]:
h=element('H')

In [35]:
h.atomic_number

1

In [38]:
h.en_allen

13.61

In [39]:
h.en_pauling

2.2

In [42]:
h.group

In [43]:
element("Si").atomic_number

14

In [44]:
from mendeleev import element
from pymatgen import Element

In [45]:
test_element="Si"

In [58]:
element(test_element).en_allen
element(test_element).en_pauling

element(test_element).atomic_number

#group is the column number
Element(test_element).group

#row is the row number
Element(test_element).row

3

In [ ]:
text_file = open("elements_list_main.txt", "r")
for element in text_file:
    main_element_list=element.split()

In [66]:
EN_Pauling_list=[]
EN_Allen_list=[]
AN_list=[]
Raw_N=[]
Column_N=[]

for ele in main_element_list:
    EN_Pauling_list.append(element(ele).en_pauling)
    EN_Allen_list.append(element(ele).en_allen)
    AN_list.append(element(ele).atomic_number)
    Raw_N.append(Element(ele).row)
    Column_N.append(Element(ele).group)

In [72]:
df={
   "main_element_list":main_element_list,
   "EN_PAULING":EN_Pauling_list,
   "EN_Allen":EN_Allen_list,
   "atomic_number":AN_list,
   "raw_number":Raw_N,
   "column_number":Column_N,
   }

In [73]:
import pandas as pd
DF=pd.DataFrame(df)

In [74]:
DF

,main_element_list,EN_PAULING,EN_Allen,atomic_number,raw_number,column_number
0,H,2.20,13.610,1,1,1
1,Li,0.98,5.392,3,2,1
2,Na,0.93,5.140,11,3,1
3,K,0.82,4.340,19,4,1
4,Rb,0.82,4.177,37,5,1
5,Cs,0.79,3.898,55,6,1
6,Be,1.57,9.323,4,2,2
7,Mg,1.31,7.646,12,3,2
8,Ca,1.00,6.113,20,4,2
9,Sr,0.95,5.695,38,5,2
10,Ba,0.89,5.211,56,6,2
11,B,2.04,12.130,5,2,13
12,Al,1.61,9.539,13,3,13
13,Ga,1.81,10.390,31,4,13
14,In,1.78,9.793,49,5,13
15,Tl,1.80,NaN,81,6,13
16,C,2.55,15.050,6,2,14
17,Si,1.90,11.330,14,3,14
18,Ge,2.01,11.800,32,4,14
19,Sn,1.96,10.790,50,5,14
20,Pb,1.80,10.970,82,6,14
21,N,3.04,18.130,7,2,15
22,P,2.19,13.330,15,3,15
23,As,2.18,13.080,33,4,15
24,Sb,2.05,11.740,51,5,15
25,Bi,1.90,11.900,83,6,15
26,O,3.44,21.360,8,2,16
27,S,2.58,15.310,16,3,16
28,Se,2.55,14.340,34,4,16
29,Te,2.10,12.760,52,5,16
30,F,3.98,24.800,9,2,17
31,Cl,3.16,16.970,17,3,17
32,Br,2.96,15.880,35,4,17
33,I,2.66,13.950,53,5,17

In [75]:
DF.to_csv("element_properties.csv", sep='\t', encoding='utf-8')