In [1]:
import pandas as pd
obj=pd.read_csv('data_clean2_09_12_2018.csv')
len(obj)

75056

In [15]:
material_ids_after_clean=[]
for i in range(len(obj["material_id"])):
    material_ids_after_clean.append(obj["material_id"][i])

In [16]:
material_ids_after_clean[1:3]

['mp-10000', 'mp-10003']

In [19]:
obj.head()

  material_id pretty_formula
0     mp-1000           BaTe
1    mp-10000           Hf2S
2    mp-10003        Nb4CoSi
3    mp-10004           Mo3P
4  mp-1000440            CrN

In [75]:
obj["pretty_formula"][2]

'Nb4CoSi'

In [83]:
from pymatgen import Composition, Element
#check whether there is fraction formula
fraction_N=0
fraction_ids=[]

for i in range(len(obj)):
    compound=Composition(obj["pretty_formula"][i])
    for ele in compound:
        if compound[ele]!=int(compound[ele]):
            fraction_N+=1
            if obj["material_id"][i] not in fraction_ids:
                fraction_ids.append(obj["material_id"][i])
print(fraction_N)
print(fraction_ids)

0
[]

In [ ]:
#results show that evey number of elements is integer.

In [84]:
from pymatgen import Composition, Element

#subtract element_environment matrix
#first statistc the element_environment pair and count it's number

element_environment={}

for i in range(len(obj)):
    compound=Composition(obj["pretty_formula"][i])
    elements_incomp=[]
    
    for ele in compound:
        elements_incomp.append(str(ele))
    
    for ele in sorted(elements_incomp):
        element_envir=str(int(compound[ele]))
        for j in sorted(elements_incomp):
            if j!=ele:
                element_envir+=j+str(int(compound[j]))
    
        if element_envir in element_environment:
            element_environment[element_envir]+=1
        else:
            element_environment[element_envir]=1

In [88]:
len(element_environment)

83131

In [92]:
#sort the environment
import operator
sorted_element_environment = sorted(element_environment.items(), key=operator.itemgetter(1),reverse=True)

In [94]:
len(sorted_element_environment)

83131

In [96]:
sorted_element_environment[-10:]

[('11Ba2Mn2', 1),
 ('6Ca1Ho1Sn2', 1),
 ('6Bi2Ca1Ho1', 1),
 ('4Mo1P1', 1),
 ('6Ho1Sn2Zn1', 1),
 ('2F11W2Y1', 1),
 ('11Ba2W2Y1', 1),
 ('8Ca1Mn2P2', 1),
 ('2Ca1Mn2O8', 1),
 ('6Ca1Cr2La1', 1)]

In [109]:
sorted_environment=[]
for i in range(len(sorted_element_environment)):
    sorted_environment.append(sorted_element_environment[i][0])

In [111]:
len(sorted_environment)

83131

In [128]:
from pymatgen import Composition, Element

#subtract element


Element_dict={}

for i in range(len(obj)):
    compound=Composition(obj["pretty_formula"][i])

    for ele in compound:
        if ele in Element_dict:
            Element_dict[ele]+=1
        else:
            Element_dict[ele]=1

In [129]:
#sort the elements
import operator
sorted_Element_dict = sorted(Element_dict.items(), key=operator.itemgetter(1),reverse=True)

In [141]:
sorted_Element=[]
for i in range(len(sorted_Element_dict)):
    sorted_Element.append(str(sorted_Element_dict[i][0]))

In [152]:
d = pd.DataFrame(0, index=sorted_Element, columns=sorted_environment)

In [153]:
#build empty matrix
d.head()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
O,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Li,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
F,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [155]:
from pymatgen import Composition, Element

#subtract element_environment matrix
#first statistc the element_environment pair and count it's number

for i in range(len(obj)):
    compound=Composition(obj["pretty_formula"][i])
    elements_incomp=[]
    
    for ele in compound:
        elements_incomp.append(str(ele))
    
    for ele in sorted(elements_incomp):
        element_envir=str(int(compound[ele]))
        
        for j in sorted(elements_incomp):
            if j!=ele:
                element_envir+=j+str(int(compound[j]))
        
        d[element_envir][ele]+=1

In [156]:
d.head()

,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,2Mg1O4,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
O,0,0,282,7,2,0,0,2,0,0,...,0,1,1,1,1,0,0,1,0,1
Li,4,0,1,17,12,0,2,1,15,0,...,0,0,0,0,0,0,0,0,0,0
Mg,2,1,35,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P,1,0,2,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
F,0,0,0,0,5,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [158]:
#check the sum by rows
d.sum(axis=1)[1:5]

Li    11683
Mg     9449
P      7349
F      5978
dtype: int64

In [160]:
#check the sum by rows
sorted_Element_dict[1:5]

[(Element Li, 11683), (Element Mg, 9449), (Element P, 7349), (Element F, 5978)]

In [ ]:
#looks good, store the matrix

In [167]:
#save as csv
df = pd.DataFrame(d)
df.to_csv('first_Matrix_09_13_2018.csv')