In [2]:
import pandas as pd
obj=pd.read_csv('first_Matrix_09_13_2018.csv')

80

In [3]:
obj.head()

,Unnamed: 0,1O2,1Li1O4P1,2Si1,1Mg1,2Mg1,1Se2,1S1,1N1,1Mg2,...,11Ba2Mn2,6Ca1Ho1Sn2,6Bi2Ca1Ho1,4Mo1P1,6Ho1Sn2Zn1,2F11W2Y1,11Ba2W2Y1,8Ca1Mn2P2,2Ca1Mn2O8,6Ca1Cr2La1
0,O,0,0,282,7,2,0,0,2,0,...,0,1,1,1,1,0,0,1,0,1
1,Li,4,0,1,17,12,0,2,1,15,...,0,0,0,0,0,0,0,0,0,0
2,Mg,2,1,35,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,P,1,0,2,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,F,0,0,0,0,5,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0

In [14]:
df_1=obj.loc[:,"Unnamed: 0"]

In [25]:
element_list=list(df_1)

In [21]:
from pymatgen import Element,Composition

In [27]:
row_list=[]
group_list=[]
for element_string in element_list:
    element=Element(element_string)
    row_list.append(element.row)
    group_list.append(element.group)

In [30]:
#group_list

In [33]:
d = {'Elements':element_list,'row_number':row_list,'group(column_number)':group_list}

In [31]:
C=Element("C")
print("C.row ",C.row)
print("C.group ",C.group)

C.row  2
C.group  14

In [34]:
df=pd.DataFrame(d)

In [37]:
df.to_csv("Elements_supervised_label.csv", sep='')